# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.sbr
*.idb
*.obj
*.pdb
*.ncb
DuiLib.suo
*.pch
*.bsc
*.user
*.dep
*.map
*.vs
DuilibSamples/Debug